@import url("https://fonts.googleapis.com/css2?family=Thasadith:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");
@import url("./bootstrap.min.css");

body{
    font-family: "Helvetica";
    letter-spacing: 1.5px;
    background-image: url(backg4.jpg);
    background-size: 100% 100%;
}
  
nav {
    overflow: hidden;
    display: flex;
    width: 100%;    
    display: flex;
    justify-content:space-between;
    background-color: rgba(0,0,0,0.2);
    padding: 0.8% 8% 1.5% 0%;
}

.sticky {
    position: fixed;
    width: 100%;
}

.navpad{
    padding-top: 2%;
}

.head{
    padding-top: 6%;
}

nav .logo{
    padding-left:10%; 
    font-family: "Quicksand";
    font-size: 35px;
    font-weight: bold;
}

nav .logo a{
    color: #000;
    font-size: 30px;
    text-decoration: none;
   
}
  
nav .menu-items ul {
    display: flex;
    align-items: center ;
}

nav .menu-items ul li {
    font-size: 20px;
    list-style: none;
    padding-top: 12.5px;
}       

nav .menu-items ul li a{
    color: #000;
    text-align: center;
    padding: 24px;
    font-family: "Thasadith";
    font-weight: bold;  
    text-decoration: none;
}

nav .menu-items li a:hover{
    text-decoration: underline;
}

nav .menu-items li .active{
    text-decoration: underline;
}

.toggle-button{
    position: fixed;
    top: 3%;
    right: 4%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30px;
    height: 30px;
}

.toggle-button .bar{
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media(max-width:990px){
    
    nav{
        background-color:rgba(0,0,0,0.2) ;
    }

    .toggle-button{
        display: flex;
    }

    .menu-items{
        display: none;
    }

    nav{
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-items ul{
        flex-direction: column;
        margin-left: 10%;
    }

    .menu-items li{
        margin: 4%;
        width: 103%;
    }

    .menu-items.active {
        display: flex;
    }

    nav .menu-items .active{
        text-decoration: underline;
    }

}

.intro{
    padding: 3.5% 10% 2% 9.3%;

}

.intro h1{
    font-weight: bold;
    padding-bottom: 2%;
}

.intro p{
    font-size: 25px;
    padding-bottom: 3%;
}

.intro h2{
    font-weight: bold;
    padding-bottom: 3%;
}

.intro h3{
    font-weight: bold;
    padding-bottom: 2%;
}

.intro #help1{
    padding-bottom: 0%;
}

.intro a{
    font-family: monospace;
}

.intro ul{
    font-family: monospace;
    font-size: 20px;
}

.intro ul li {
    padding-bottom: 2%;
}

.intro ul li a{
    color: black;
    opacity: 0.7;
    text-decoration: underline;
}

.intro ul li a:hover{
    opacity: 1;
}

.intro #alt{
    padding-top:4% ;
    padding-bottom: 3%;
}

.intro ol{
    font-family: monospace;
    font-size: 22px;
}

.intro ol li{
    padding-bottom: 2%;
}

.footer-basic {
    padding-top: 5%;
    padding:40px 0;
    background-color:#282d32;
    color:#4b4c4d;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    font-family: "Helvetica";
    line-height:1.6;
    margin-bottom:0;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:white;
    text-decoration:none;
    opacity:0.5;
}
  
.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:grey;
    margin-bottom:0;
}
  