@import url("https://fonts.googleapis.com/css2?family=Thasadith:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");
@import url("./bootstrap.min.css");

body{
    letter-spacing: 1.5px;
}
  
nav {
    overflow: hidden;
    display: flex;
    width: 100%;    
    display: flex;
    justify-content:space-between;
    background-color: rgba(0,0,0,0.2);
    padding: 0.8% 8% 1.5% 0%;
}

.sticky {
    position: fixed;
    width: 100%;
}

.navpad{
    padding-top: 8%;
}

nav .logo{
    padding-left:10%; 
    font-family: "Quicksand";
    font-size: 35px;
    font-weight: bold;
}

nav .logo a{
    font-size: 30px;
    color: white;
    text-decoration: none;
   
}
  
nav .menu-items ul {
    display: flex;
    align-items: center ;
}

nav .menu-items ul li {
    font-size: 20px;
    list-style: none;
    padding-top: 12.5px;
}       

nav .menu-items ul li a{
    text-align: center;
    padding: 24px;
    font-family: "Thasadith";
    font-weight: bold;
    color: white;
    opacity: 0.9;
    text-decoration: none;
}

nav .menu-items li a:hover{
    text-decoration: underline;
}

nav .menu-items li .active{
    text-decoration: underline;
}

.toggle-button{
    position: fixed;
    top: 3%;
    right: 4%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30px;
    height: 30px;
}

.toggle-button .bar{
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}





@media(max-width:990px){
    
    nav{
        background-color:rgba(0,0,0,0.2) ;
    }

    .toggle-button{
        display: flex;
    }

    .menu-items{
        display: none;
    }

    nav{
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-items ul{
        flex-direction: column;
        margin-left: 10%;
    }

    .menu-items li{
        margin: 4%;
        width: 103%;
    }

    .menu-items.active {
        display: flex;
    }

    nav .menu-items .active{
        text-decoration: underline;
    }

}

.content{
    background-image: url(backg3.jpg);
    background-size: 100% 100%;
}

.container{
    width: 100%;
    padding: 2% 0% 0% 9.2%;
}

.intro h1{
    opacity: 0.95;
    color: white;
    font-size: 45px;
    font-family: "Helvetica";
    font-weight: bold;
    padding-top: 8%;
    padding-bottom: 1.5%;
}

.intro p{
    color: white;
    font-size: 25px;
    padding: 0.5% 30% 2% 0.3%;
}

.intro a{
    color:black;
    opacity: 0.6;
    text-decoration: underline;
}

.intro a:hover{
    opacity: 1;
}

.q1 h1{
    color: white;
    padding-bottom: 2%;
}

.q1 p{
    color: white;
    font-size: 25px;
    padding: 0.5% 30% 8% 0.1%;
}

.q1 a{
    opacity: 0.9;
    color: white;
    text-decoration: underline;
}

.q1 a:hover{
    opacity: 1;
}

#graphhead{
    font-family: "Helvetica";
    padding: 4% 0% 0% 9.3%;
}

#graphintro{
    font-size: 20px;
    padding: 0% 8% 3% 9.2%;
}

.graph{
    padding: 2% 2% 3% 8%;
    display: flex;
    flex-basis: 25%;
}

.chart{
    width: 55%;
    padding-right: 5%;

}

.written{
    font-size: 17px;
    padding-top: 2%;
    padding-right: 4%;
}

.written p{
    padding-bottom: 19.5%;
}

#more{
    font-size: 15px;
    padding: 0% 0% 5% 9.3%;
}

.footer-basic {
    padding-top: 5%;
    padding:40px 0;
    background-color:#282d32;
    color:#4b4c4d;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:white;
    text-decoration:none;
    opacity:0.5;
}
  
.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:grey;
    margin-bottom:0;
}
  
  
